{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<style>
    .add {
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .table {
        margin-top: 10px;
    }
</style>

<div class="main">
    {# <button type="button" class="btn btn-secondary add" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add message</button> #}
    {# {% include './modals/add_message.html.twig' %} #}
    {% include './modals/message_modal.html.twig' with {
        'messageModal': 'addMessageModal',
        'messageModalLabel': 'addMessageModalLabel',
        'messageText': 'New message',
        'messagePath': 'message_add'
    } %}
    <table class="table table-hover table-bordered" 
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-url="data/RegisteredVisitors.json"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-search="true"                          
    data-show-pagination-switch="true"
    data-id-field="message_id"
    {# data-page-list="[10, 25, 50, 100, ALL]" #}
    data-show-footer="false">
    <thead class="thead-dark">
        <tr>
        <th scope="col" data-field="message_id">#</th>
        <th scope="col" data-field="username" data-sortable="true">Username</th>
        <th scope="col" data-field="email" data-sortable="true">Email</th>
        <th scope="col" data-field="homepage" data-sortable="true">Homepage</th>
        <th scope="col" data-field="text" data-sortable="true">Text</th>
        <th scope="col" data-field="datetime" data-sortable="true">Datetime</th>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <th scope="col">Actions</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% if messages %}
            {% for message in messages %}
            <tr>
                <th scope="row">{{ message.id }}</th>
                <td>{{ message.username }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.homepage ?: '-' }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.created_at }}</td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include './modals/message_modal.html.twig' with {
                    'messageModal': 'editMessageModal',
                    'messageModalLabel': 'editMessageModalLabel',
                    'messageText': 'Edit message',
                    'messagePath': 'message_edit',
                    'messageData': {'id': message.id}
                } %}
                <td>
                <button type="button" class="btn" data-toggle="modal" data-target="#editMessageModal">
                <i class="fa-solid fa-pen-to-square fa-xl" style="color: #000000;"></i>
                </button>
                <i class="fa-solid fa-trash fa-xl" style="color: #ff0000;margin-left:10px;"></i>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
        <tr>
        <th scope="row" colspan="7" style="text-align: center;">Data not found</th>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>
<script>
</script>
{% endblock %}