{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<style>
    .add {
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .table {
        margin-top: 10px;
    }
</style>

<div class="main">
    {# <button type="button" class="btn btn-secondary add" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add message</button> #}
    {% include './modals/add_message.html.twig' %}
    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Homepage</th>
        <th scope="col">Text</th>
        <th scope="col">Datetime</th>
        </tr>
    </thead>
    <tbody>
        {% if messages %}
            {% for message in messages %}
            <tr>
                <th scope="row">{{ message.id }}</th>
                <td>{{ message.username }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.homepage ?: '-' }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.created_at }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
        <th scope="row" colspan="6" style="text-align: center;">Data not found</th>
        </tr>
        {% endif %}
    </tbody>
    </table>
</div>
<script>
    
</script>
{% endblock %}